body {
    background-color: lightcyan;
}

div {
    display: block;
    opacity: 0.75;
    background-color: lightblue;
    border-style: solid;
    border-color: cornflowerblue;
    margin: 20px;
    padding: 20px;
    width: 500px;
    border-radius: 25px;
}
